mixin InlineDatePopup(sRecord,sID,oAttrs,sLabel,nShift)
  - nShift = nShift || 0
  table(style='display:inline-table')
    tbody
      tr
        td(style='padding:0px 5px;font-weight:bold;')= sLabel
        td
          p.input-group.datepicker( ng-class="{'has-error':#{sRecord}.theForm.#{sID}.$invalid}")
            input.form-control(type='text', id=sID, name=sID, ng-model=sRecord+'.'+sID, uib-datepicker-popup='{{dateFormat}}', is-open='dateIsOpen.'+sID, datepicker-options='dateOptions', ng-class="inlinedatepopup")&attributes(oAttrs)
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='dateOpen($event,\'#{sID}\',#{nShift})')
                i.glyphicon.glyphicon-calendar
        
mixin InlineTimePopup(sRecord,sID,oAttrs,sLabel)
  span(style='position:relative;top:24px;margin:0px 5px;font-weight:bold;')= sLabel
  uib-timepicker(id=sID, name=sID, ng-model=sRecord+'.'+sID, minute-step='5', show-meridian='false', style='display:inline-table')&attributes(oAttrs)

mixin InlineSpinner(sRecord,sID,oAttrs,sLabel)
  span(style='position:relative;top:24px;margin:0px 5px;font-weight:bold;')= sLabel
  spinner(id=sID, name=sID, ng-model=sRecord+'.'+sID, style='display:inline-table')&attributes(oAttrs)
  
mixin InlineField(sType,sRecord,sID,oAttrs)
  input.form-control(type=sType, id=sID, name=sID, ng-model=sRecord+'.'+sID)&attributes(oAttrs)
  
mixin xxxInlineField(sType,sRecord,sID,oAttrs,sLabel,xAttrs)
  - xAttrs = xAttrs || {}
  .form-group&attributes(xAttrs)
    label.control-label.col-sm-2(for=sID)= sLabel
    .col-sm-10
      input.form-control(type=sType, id=sID, name=sID, ng-model=sRecord+'.'+sID)&attributes(oAttrs)
  


